@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.clear-filter-btn {
  margin: 14px 0;
  text-align: center;

  button {
    @include borderRadius(5px);
    padding: 8px 10px;
    width: 100%;
    border: 1px solid $light-gray;
    background-color: transparent;

    &:hover {
      color: $red;
      background-color: rgba($light-gray, 0.6);
    }
  }
}
