@import "../../../sass/utilities/variables";
@import "../../../sass/utilities/mixins";

.header {
  @include fixed(0, 0, null, 0);
  height: 60px;
  padding: 10px;
  z-index: 99;
  display: flex;
  align-items: center;
  background: #222f3f;

  &__logo {
    height: 100%;
    img {
      height: 100%;
    }
  }

  &__text {
    margin-left: 12px;
    font-size: 3rem;
    font-weight: bold;
    color: $white;
    text-decoration: none;
  }

  &__search {
    margin-left: 16px;

    form {
      display: flex;
      width: 350px;
      height: 30px;
      input {
        padding: 6px 12px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-color: transparent;
        flex-grow: 1;
      }

      button {
        font-size: 1.4rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: transparent;
        background-color: $primary-color;

        i {
          padding: 6px 26px;
        }
      }
    }
  }
}
