// color
$white: #fff;
$black: #000;
$gray: #818181;
$blue: #337ab7;
$new-color: #62af26;
$hot-color: #ed301c;
$red: #9c0001;
$light-gray: #cacaca;
$dark-gray: #252525;
$primary-color: #ffbe61;
$orange-color: #f26522;
$save-color: #24c5d9;
$primary-font: Verdana, sans-serif;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
