@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.product-item {
  padding: 10px 20px 20px;
  width: 100%;
  border-bottom: solid 1px #eee;
  margin-bottom: 14px;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #f6f6f6;

  &__img {
    text-align: center;
    margin-bottom: 10px;

    img {
      height: 150px;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__desc {
  }

  &__name {
    min-width: 120px;
    margin-bottom: 8px;
    color: $black;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__type {
    margin: 0 0 10px;
    font-size: 1.2rem;
  }

  &__price {
    float: right;
    color: $black;
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__rating {
    margin-bottom: 10px;
  }
}
